@model IEnumerable<Prison.App.Web.Models.User.UserIndexViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Пользователи</h2>

@if (User.IsInRole("editor") || User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Добавить", "Create", null, new { @class = "btn btn-primary" })
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.UserID.ToString(),"Details",new { id=item.UserID})
            </td>
            <td>
                <div class="btn-group">
                        <div class="input-group-btn">
                            @Html.ActionLink(item.UserName, "Details", new { id = item.UserID },new {@class= "btn btn-link btn-default dropdown-toggle", @data_toggle="dropdown" })
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Подробнее", "Details", new { id = item.UserID })</li>
                                @if (User.IsInRole("editor") || User.IsInRole("admin"))
                                {
                                    <li>@Html.ActionLink("Редактировать", "Edit", new { id = item.UserID })</li>
                                    <li class="divider"></li>
                                    <li class = "text-danger">@Html.ActionLink("Удалить", "Delete", new { id = item.UserID }, new { @class = "text-danger" })</li>
                                }                                
                            </ul>
                        </div>
                    </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
            </td>
        </tr>
    }

</table>
