@model IEnumerable<DetentionListViewModel>

<table class="table table-hover">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.DetentionID)
            </th>

            <th class="text-center">
                @Html.DisplayNameFor(model => model.DetentionDate)
            </th>

            <th class="text-center">
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr class="text-center">
            <td>
                @Html.DisplayFor(modelItem => item.DetentionID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DetentionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee)
            </td>
            <td></td>
        </tr>
    }
    </tbody>
</table>
<script src="~/Scripts/DetentionListScript.js"></script>