@model DetaineeEditViewModel

@{
    ViewBag.Title = "Удалить";
}

<h3>Вы действительно хотите удалить этого задержанного?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirstDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirstDate)
        </dd>

        

        <dt>
            @Html.DisplayNameFor(model => model.WorkPlace)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkPlace)
        </dd>      

        <dt>
            @Html.DisplayNameFor(model => model.ResidenceAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResidenceAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdditionalData)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdditionalData)
        </dd>

    </dl>

    @using (Html.BeginForm("DeleteFromDb","Detainee",new { id=Model.DetaineeID})) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <div class="btn-group">
            @Html.ActionLink("Назад", "Index", null, new { @class = "btn btn-default" })
            <input type="submit" value="Удалить" class="btn btn-danger" />
        </div>
    </div>
    }
</div>
