@model IEnumerable<DetaineeIndexViewModel>

@{
    ViewBag.Title = "Список задержанных";
    Layout = null;
}
@if (Model == null || Model.Count() < 1)
{
    <hr />
    <p class="text-center">Ничего не найдено.</p>
}
else
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirstDate)
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @if (item.ImagePath != null)
            {
                <div>
                    <a href="@Url.Action("Details", new { id = item.DetaineeID })"><img class="img-rounded" width="70" height="70" src=@item.ImagePath /></a>
                </div>
            }
        </td>
        <td>
            <div class="btn-group">
                    <div class="input-group-btn">
                        @Html.ActionLink(item.LastName, "Details", new { id = item.DetaineeID },new {@class= "btn btn-link btn-default dropdown-toggle", @data_toggle="dropdown" })
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Подробнее", "Details", new { id = item.DetaineeID })</li>

                            @if (User.IsInRole("editor") || User.IsInRole("admin"))
                            {
                                <li>@Html.ActionLink("Редактировать", "Edit", new { id = item.DetaineeID })</li>
                                <li class="divider"></li>
                                <li class = "text-danger">@Html.ActionLink("Удалить", "Delete", new { id = item.DetaineeID }, new { @class = "text-danger" })</li>
                            }                                
                        </ul>
                    </div>
                </div>

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirstDate)
        </td>
        
    </tr>
    }

</table>

}
