@model IEnumerable<Prison.App.Web.Models.NumberViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Номера телефонов</h2>

<p>
    @Html.ActionLink("Добавить номер", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DetaineeLastname)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DetaineeLastname)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.NumberID }) |
                @Html.ActionLink("Подробнее", "Details", new { id = item.NumberID }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.NumberID })
            </td>
        </tr>
    }

</table>
