@model IEnumerable<Detainee>

@{
    ViewBag.Title = "DetaineeList";
}

<h2>DetaineeList</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Patronymic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirstDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResidenceAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdditionalData)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patronymic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirstDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResidenceAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalData)
            </td>
        </tr>
    }


</table>

<a href="javascript:void(0);" onclick="history.go(-1);">Back</a>
