@model IEnumerable<RoleViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Роли</h2>

@if (User.IsInRole("editor") || User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Добавить", "Create", null, new { @class = "btn btn-primary" })
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                    <div class="btn-group">
                        <div class="input-group-btn">
                            @Html.ActionLink(item.RoleName, "Details", new { id = item.RoleID },new {@class= "btn btn-link btn-default dropdown-toggle", @data_toggle="dropdown" })
                            <ul class="dropdown-menu">
                                @if (User.IsInRole("editor") || User.IsInRole("admin"))
                                {
                                    <li>@Html.ActionLink("Редактировать", "Edit", new { id = item.RoleID })</li>
                                    <li class="divider"></li>
                                    <li class = "text-danger">@Html.ActionLink("Удалить", "Delete", new { id = item.RoleID }, new { @class = "text-danger" })</li>
                                }                                
                            </ul>
                        </div>
                    </div>

            </td>
            <td>
            </td>
        </tr>
    }

</table>
