@model Prison.Common.Detention

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Detention</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DetentionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetentionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfDelivery)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfDelivery)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlaceOfDetention)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlaceOfDetention)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountForStaying)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountForStaying)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaidAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaidAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressOfStay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressOfStay)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DetentionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
