@model IEnumerable<Detention>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DetentionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfDelivery)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlaceOfDetention)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountForStaying)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaidAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DetentionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfDelivery)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlaceOfDetention)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountForStaying)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaidAmount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
